body{
    background-color: #ece7e1;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.css{
    display: flex;
}
.css div{
    flex-direction: row;
}
.cv1{
    float: left;
    position: relative;
    left: 120px;
    
}
.cv2{
    float: right;
    position: relative;
    top: 80px;
    left: -120px;
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vw;
    font-weight: lighter;
    
}
#p{
    font-family: "Grandslang roman", sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    
}
a{
    color: #1a1818;
    text-decoration: none;
  
}


#quote{
    font-size: 1.6vw;
    font-family: cursive;
}
.npb{
    font-size: 1.1vw;
    display: inline-block; 
    transform: rotate(270deg); 
    letter-spacing: 4px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1a1818;
    text-decoration: none;
    word-spacing: 50px;
}
nav-left{
    position: relative; 
    top: 450px;
    left: -1000px;
}
@media screen and (orientation: portrait) {

    .cv1{ left: 10px;}
    
 }