body{
    background-color: #ece7e1;
    color: #1a1818;
}
.divc{
   float: left;
   position: relative;
   top: 400px;
}
.divd{
   float: right;
   position: relative;
   left: 60px;
   
}
.divcd{
   position: relative;
   
}
h1{
    position: relative;
    font-family: "Grandslang roman", sans-serif;
    font-weight: lighter;
}
.if{
    position: relative;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p a{
    position: relative;
    font-size: 8vw;
    font-family: cursive;
    text-decoration: none;
    color: #1a1818;
}


p a:hover{
    font-style: italic;
}
span a{
    display: inline-block; 
    transform: rotate(270deg); 
    letter-spacing: 4px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2vw;
    color: #1a1818;
    text-decoration: none;
}
span a:hover{
    text-decoration: line-through;
}
nav-left{
    top: 70px;
    position: relative;
}
@media screen and (orientation: portrait) {

    p a{ font-size: 7.5vw; line-height: none; left: 200px; top: 35px;}
    
    .divd{float: left;}
    h1{font-size: 5vw; top: -270px;}
    .if{ font-size: 2.5vw; top: -110px;}
    span a{font-size: 2vw;}
 }
