body{
    background-color: #ece7e1;
    color: #1a1818;
}
.divc{
   float: left;
   position: relative;
   top: 400px;
   
}
.divd{
   float: right;
   position: relative;
   left: 80px;
   top: 100px;

}
.divcd{
   position: relative;
   
}
h3{
    position: relative;
    font-family: "Grandslang roman", sans-serif;
    font-weight: lighter;
}
.if{
    position: relative;
    font-size: 1.2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p a{
    position: relative;
    font-size: 8vw;
    font-family: cursive;
    text-decoration: none;
    color: #1a1818;
    transition: margin 1s;
    transition-duration: 1s;
}


p a:hover{
    font-style: italic;
    margin: 0px 20px;

}
span a{
    display: inline-block; 
    transform: rotate(270deg); 
    letter-spacing: 4px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2vw;
    color: #1a1818;
    text-decoration: none;
    transition: transform 1s;
}
span a:hover{
    text-decoration: line-through;
    transform: translate(50px,50px)
}
nav-left{
    top: 70px;
    position: relative;
}

  @media only screen and (max-width: 900px) {
    .if{
        font-size: 1.6vw;
    }
    .divc{
        float: left;
        position: relative;
        top: 0px;
     }
     .divd{
        float: left;
        position: relative;
        left: -300px;
        top: 150px;
     }
     .divcd{
        top: 200px;
     }
  }
  @media only screen and (max-width: 600px) {
    span a{
        display: inline-block; 
        transform: rotate(360deg); 
        letter-spacing: 4px; 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.4vw;
        color: #1a1818;
        text-decoration: none;
        transition: transform 1s;
        left: 20px;
    }
    .if{
        font-size: 2vw;
    }
    .divc{
        float: left;
        position: relative;
        top: 0px;
     }
     .divd{
        float: left;
        position: relative;
        left: 0px;
        top: 40px;
     }
     .divcd{
        top: 200px;
     }
  }